@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/lato-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Medium";
  src: url("../fonts/lato-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora Regular";
  src: url("../fonts/Lora-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora Bold";
  src: url("../fonts/Lora-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display Bold";
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
